
.ui-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 1rem 1.6rem;        // 20 / 32 → высота 67px
    background-color: $color-accent;
    border: 1px solid $color-accent;
    border-radius: 0;
    box-shadow: none;
    width: fit-content;
    font-weight: 600;
    font-size: 1rem;           // 20px
    line-height: 1.35;
    text-transform: uppercase;
    text-align: left;
    color: $color-white;
    text-decoration: none;
    transition: $duration background-color, $duration color, $duration border-color;
    user-select: none;
    cursor: pointer;

    &__icon {
        flex: none;
        width: 1.2rem;            // 24px
        height: 1.2rem;
        fill: currentColor;
    }

    &--fill {
        width: 100%;
        justify-content: space-between;
    }

    &--center {
        margin-right: auto;
        margin-left: auto;
    }

    &:hover {
        background-color: $color-accent;
        border-color: $color-accent;
        color: $color-white;
    }

    &:focus-visible {
        outline-color: $color-accent;
    }

    &--outline {
        background-color: transparent;
        border-color: $color-accent;
        color: $color-accent;

        &:hover {
            background-color: $color-accent;
            border-color: $color-accent;
            color: $color-white;
        }
    }

    &--link {
        border: none;
        background-color: transparent;
        padding: 0;
        text-transform: none;
        color: $color-accent;
        font-weight: 500;

        &:hover {
            color: $color-accent;
            background-color: transparent;
        }
    }

    &:disabled,
    &.is-disabled {
        background-color: $color-disabled;
        border-color: $color-disabled;
        color: $color-white;
        cursor: default;
        pointer-events: none;
    }

    &--square {
        gap: 0;
        padding: 0;
        width: 3.35rem;         // 67px
        height: 3.35rem;
    }

    &.icon-first {
        svg {
            order: -1;
        }
    }
}
