
.ui-dropdown {
	position: relative;
	width: fit-content;
	max-width: 100%;

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 0;
		max-width: 100%;
		font-size: $text-size;
        line-height: 1.25;
		text-align: left;
        cursor: pointer;
        user-select: none;
	}

	&__button-text {
		padding: 0 1.6rem 0 0;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__button-icon-box {
		position: absolute;
		top: 50%;
		right: 1.6rem;
		margin-top: -0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.2rem;
		height: 1.2rem;
	}

	&__button-icon {
		width: 1.2rem;
		height: 1.2rem;
        mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z' /%3E%3C/svg%3E%0A");
        mask-repeat: no-repeat;
        mask-size: 100%;
        background: currentColor;
        transform: translate3d(0, 0, 0);
        transition: $duration transform;
	}

	&__popup {
		position: absolute;
		z-index: 102;
		margin-top: 0.6rem;
        border-radius: 0.4rem;
		box-shadow: 0 0 1.6rem rgba($color-accent-rgb,.1);
		width: 12rem;
        max-width: 100vw;
		background: $color-white;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $duration visibility, $duration opacity;
	}

    &__list {
        &:focus-visible,
        &:focus {
            outline: none;
        }
    }

	&__scroll {
        position: relative;
		overflow: auto;
		max-height: 2rem * 6;
        cursor: pointer;

        .simplebar-track.simplebar-vertical {
            width: 0.7rem;
            top: 0.5rem;
            bottom: 0.5rem;
        }

        @include media-min(1025) {
            scrollbar-width: thin;
            scrollbar-color: transparent;

            &::-webkit-scrollbar {
                width: 0.6rem;
                cursor: pointer;
            }

            &::-webkit-scrollbar-thumb {
                border-left: 0.2rem solid $color-white;
                border-right: 0.2rem solid $color-white;
                background: $color-grey;
                transition: $duration background;
            }

            &::-webkit-scrollbar-track {
              margin: 0.2rem 0;
              background: transparent;
            }
        }
	}

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		margin: 0;
		overflow: hidden;
		opacity: 0;
		background: none;
		pointer-events: none;
	}

	&__menu-link,
    &__option {
		display: block;
		padding: 0.6rem 1.6rem; // 32px
		width: 100%;
		font-size: $text-size; // 20px
		text-decoration: none;
		text-align: left;
		transition: $duration color, $duration background;
		cursor: pointer;
		user-select: none;

        &.is-selected {
            position: relative;
            padding-right: 2rem;
            background: $color-grey;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0.6rem;
                width: 0.8rem;
                height: 0.8rem;
                margin-top: -0.4rem;
                mask-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.625 8.125L6.80682 11.125L12.375 5.875' stroke='%230D0D0D' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                mask-repeat: no-repeat;
                mask-size: 100%;
                background: $color-accent;
            }
		}

		&.is-focused,
        &:focus-visible {
            outline: none;
            background: $color-grey;

		}

        @include hover {
            background: $color-grey;

        }
	}

    &__search {
        padding: 0.6rem 0.6rem 0.2rem;

        input {
            padding-left: 0.8rem;
            padding-right: 0.8rem;
        }
    }

    &_select {
        width: 100%;

        .ui-dropdown__popup {
            width: 100%;
        }
    }

    &_direction_right {
        .ui-dropdown {
            &__popup {
                right: 0;
                left: auto;
            }
        }
    }

	@include active {
		.ui-dropdown {
			&__button-icon {
				transform: translate3d(0, 0, 0) rotate(180deg);
			}

			&__popup {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}
