
.price {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    &__old {
        color: $color-dark-grey;
        font-size: $text-size-sm;
        text-decoration: line-through;
    }

    &__current {
        color: $color-base;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
    }
}
