.cta-banner {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    &__image {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: flex-start;
    }

    &__content {
        max-width: 50%;

        @include media(tab) {
            max-width: 70%;
        }
    }

    &__title {
        font-size: $title-size-md; // 48px (H2 SemiBold)
        font-weight: 600;
        color: $color-accent;
        line-height: 1;
        letter-spacing: 0;
        margin-bottom: 0.4rem;
    }

    &__text {
        max-width: 43rem; // 860px

        p {
            margin: 0 0 1.35em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include media(mob) {
            max-width: 100%;
        }
    }
}
