.hero {
    position: relative;
    overflow: hidden;

    &__slider {
        position: relative;
        width: 100%;
    }

    &__slide {
        min-height: 38.4rem;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        @include media(tab) {
            min-height: 28.8rem;
        }

        @include media(mob) {
            min-height: 20.8rem;
        }
    }

    &__image {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        width: 100%;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }

    &__content {
        max-width: 50%;
        width: 100%;

        @include media(tab) {
            max-width: 70%;
        }
    }

    &__title {
        font-size: $title-size;
        font-weight: 600;
        line-height: 1;
        color: $color-accent;
        margin-top: 0;
        margin-bottom: 1.2rem;
        letter-spacing: $letter-spacing;
    }

    &__text {
        color: $color-accent;
        margin-top: 0;
        margin-bottom: 1.6rem;
        max-width: 44rem;

        @include media(tab) {
            max-width: 100%;
        }
    }

    &__button {
        max-width: 20.5rem; // 410px (дизайн)
    }

    &__pagination {
        --swiper-pagination-bottom: 1.2rem;
        --swiper-pagination-bullet-horizontal-gap: 0.3rem;
        --swiper-pagination-bullet-inactive-color: #{$color-grey-second};
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-theme-color: #{$color-accent};
        --swiper-pagination-bullet-size: 0.5rem;

        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: center;

        @include media(mob) {
            --swiper-pagination-bottom: 0.8rem;
        }
    }
}
