
.products {
    background-color: #fcfbfa;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem; // 40px

        @include media(tab) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
        }

        @include media(mob) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}
