.cart {
    &__title {
        margin-bottom: 0;
    }

    &__note {

    }

    .main__main {
        h2, .h2,
        h3, .h3 {
            margin: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__list-footer {
        display: flex;
        flex-direction: column;
        gap: $space-lg;
    }

    &__list-promo,
    &__list-remove {
        display: flex;
        flex-direction: column;
        gap: $space-md;

        h3,
        .h3 {
            margin-bottom: 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $space-md;
    }

    &__payment {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
    }

    @include media-min(mob-sm) {
        &__list-promo,
        &__list-remove {
            flex-direction: row;
            white-space: nowrap;
            align-items: center;

            .ui-button {
                width: auto;
            }
        }

        &__list-remove {
            .h3 {
               width: 100%;
            }
        }
    }

    @include media-min(pc) {
        &__list-footer {
            flex-direction: row;
        }

        &__list-promo {
            width: 100%;
        }

        &__list-remove {
            margin-left: auto;
        }
    }
}
