
.p404 {
    padding: 2.4rem 0;
    text-align: center;

    @include media-min(tab) {
        padding: 4rem 0;
    }

    &__number {
        display: block;
        margin-bottom: 1.6rem;
        font-size: 8rem;
        line-height: .9;
        color: rgba($color-accent-rgb,.3);
        font-weight: 700;

        @include media-min(tab) {
            font-size: 11.2rem;
        }
    }

    &__text {
        margin-bottom: 2.4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
