
.u-hidden {
    display: none !important;
}

.u-hidden-desktop {
    @include media-min(pc) {
        display: none !important;
    }
}

.u-hidden-tablet {
    @include media-between(mob, tab-l) {
        display: none !important;
    }
}

.u-hidden-mobile {
    @include media(mob) {
        display: none !important;
    }
}

.u-hidden-mobile-sm {
    @include media(mob-md) {
        display: none !important;
    }
}

.u-visible-desktop {
    @include media(pc) {
        display: none !important;
    }
}

.u-visible-tablet {
    @include media(mob) {
        display: none !important;
    }

    @include media-min(tab-l) {
        display: none !important;
    }
}

.u-visible-mobile {
    @include media-min(mob) {
        display: none !important;
    }
}

.u-visible-mobile-sm {
    @include media-min(mob-md) {
        display: none !important;
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}
