---
interface Props {
    headers: string[];
    rows: string[][];
    class?: string;
}

const { headers, rows, class: className } = Astro.props;
---
<div class:list={['table-wrapper', className]}>
    <table>
        <thead>
            <tr>{headers.map((h) => <th>{h}</th>)}</tr>
        </thead>
        <tbody>
            {rows.map((r) => (
                <tr>
                    {r.map((c) => <td>{c}</td>)}
                </tr>
            ))}
        </tbody>
    </table>
</div>
