---
import Layout from '@layouts/Layout.astro';
import Button from '@components/modules/Button.astro';

---
<Layout title="Страница не найдена">
    <div class="p404">
        <div class="p404__content">
            <div class="p404__title-wrapper">
                <span class="p404__number">404</span>
                <h1 class="p404__title">Страница не&nbsp;найдена</h1>
            </div>
            <div class="p404__text">
                <p>Страница не&nbsp;найдена или была удалена</p>
            </div>
            <Button center="true" type="link" href="/">Вернуться на&nbsp;главную</Button>
        </div>
    </div>
</Layout>
